/* ---------- REESTRUTURAÇÃO PÁGINA DO CADASTRO ---------- */
/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;

    scroll-behavior: smooth;
}

:root {
    --w: white;
    --b: black;
    --mainTitleFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --mainSubTextFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --bgColor: #00546D;
}

main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main .home {
    margin: 1em;

    position: absolute;
    
    font-family: var(--mainTitleFont);
    font-size: 2em;
    color: var(--b);
}

main .bg_grid {
    background-image: url("../imagens/others/charlesdeluvio-0bTdk1u42KY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label {
    font-family: var(--mainTitleFont);
    font-size: 1.1em;
}

form > #password, #matricula {
    margin-bottom: 1.8em;
}

form label {
    margin-bottom: .5em;
}

form > #name, #email, #password, #matricula {
    width: 20em;
    height: 1.6em;
}

form .error {
    margin-bottom: 1em;
}

form input[type="text"] {
    border: 2px solid var(--b);
    padding: 1em;
}

form input[type="submit"] {
    padding: 1em;
    width: 8em;
    margin-bottom: 1em;

    background-color: var(--bgColor);
    border: .01em solid var(--w);
    color: var(--w);

    transition: font-weight .2s;
}

form input[type="submit"]:hover {
    font-weight: bold;
    cursor: pointer;
}

.login_text {
    font-family: var(--mainSubTextFont);
}

.login_text .btn {
    font-family: var(--mainTitleFont);
    color: var(--b);
}