* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    text-decoration: none;
    list-style-type: none;

    scroll-behavior: smooth;
}

:root {
    --w: white;
    --b: black;
    --mainTitleFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --mainSubTextFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --bgColor: #00546D;
    --fontColor1: #a1a1a1;
    --fontColor2: #e4e4e4;
}

.container_general {
    display: flex;
}

header {
    padding: 1em;
    
    min-height: 100vh;
    min-width: 15vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--bgColor);
}

.side_menu .menu_list {
    font-family: var(--mainSubTextFont);
}

.side_menu .menu_list .about_link {
    color: var(--w);
    line-height: 3em;
}

.side_menu .menu_list .about_link:hover {
    font-weight: 600;
}

/* ----- GERENCIAR EVENTOS ----- */
main {
    min-width: 85vw;
    display: grid;
    place-items: center;
}

.container_table h1 {
    margin-bottom: 1em;

    font-family: var(--mainTitleFont);
    font-size: 2.7em;

    text-align: center;
}

.flex_container_cta {
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
}

.event-open-modal {
    padding: 1em;

    background-color: var(--b);
    border: .01em solid var(--w);
    color: var(--w);
}

.event-open-modal:hover {
    cursor: pointer;
}


.first_table {
    display: grid;
    place-items: center;
}

.sec_table {
    width: 100%;
}

th {
    padding: .5em 2em;
    
    font-family: var(--mainTitleFont);

    background-color: var(--bgColor);
    color: white;
}

tr:nth-child(even) {
    background-color: var(--fontColor2);
}

td {
    font-family: var(--mainSubTextFont);
    text-align: center;
    line-height: 1.3em;
}

.curso-open-modal {
    padding: 1em;

    background-color: var(--b);
    border: .01em solid var(--w);
    color: var(--w);
}

.curso-open-modal:hover {
    cursor: pointer;
}

/* ----- OPÇÃO ADICIONAR CURSO ----- */
.container_top_modal {
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_modal {
    font-family: var(--mainTitleFont);
    font-size: 2em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30em;
}




/* .container_forms {
    min-width: 85vw;
}

.container_forms form {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .container_forms .title {
    font-family: var(--mainTitleFont);
    font-size: 3em;
    margin-bottom: 1em;
} */

/* form label {
    font-family: var(--mainTitleFont);
    font-size: 1.1em;
} */

/* form input[type="text"], input[type="email"] {
    border: 2px solid var(--b);
    padding: 1em;
    width: 20em;
} */

/* form > #matricula {
    margin-bottom: 1.5em;
} */

/* form input[type="submit"] {
    width: 8em;
    padding: 1em;
    
    background-color: var(--bgColor);
    border: .01em solid var(--w);
    color: var(--w);
    
    transition: font-weight .2s;
} */

/* form input[type="submit"]:hover {
    font-weight: bold;
    cursor: pointer;
} */

/* form .error {
    margin-bottom: 1em;
} */