/* ---------- REESTRUTURAÇÃO PÁGINA DO LOGIN ---------- */
/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;

    scroll-behavior: smooth;
}

:root {
    --w: white;
    --b: black;
    --mainTitleFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --mainSubTextFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --otherTexts: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --bgColor: #00546D;
}